
html, body {
    box-sizing: border-box;
}

.game, .success {
    text-align: center;
}

.game-board {
    width: 700px;
    margin: 0 auto;
}

.game-error {
    color: red;
}

.success {
    margin: 80px;
    display: none;
}

.success-message {
    display: none;
}

.square-g5 > img {
    position: relative;
    z-index: 1;
}